#svg-container {
     width: 950px;
     height: 562px;
     border: dashed 1px black;
     margin-left: auto;
     margin-right: auto;
     z-index: 1000;
 }



body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: beige;
}

.venntooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 16px;
    background: #333;
    color: #fff;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}

#venn {
    width: 600px;
    height: 410px;
    border: dashed 1px black;
    margin-top: -412px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative;
    color:#FFFFFF;
    padding:20px
z-index: 999;
}

#venn span {
    position: relative;
    top: 15px;
}

.yui3-dd-proxy {
    text-align: left;
}
#play {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    zoom: 1;
    top: 225px;
    z-index: 2000;
}
#play:after { display: block; clear: both; visibility: hidden; content: '.'; height: 0;}
#play ul {
    border: 1px solid black;
    margin: 1px;
    width: 148px;
    height: 320px;
    float: left;
    padding: 0;
    zoom: 1;
    position: relative;
    overflow: auto;
}
#play ul li {
    background-image: none;
    list-style-type: none;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    zoom: 1;
    position: relative;
}
#play ul li.list1 {
    background-color: #FFE4C4;
    border:1px solid #004C6D;
}

#donut1 {
    width: 250px;
    height: 250px;
    float: right;
    border: dashed 1px black;
}

#donut2 {
    width: 250px;
    height: 250px;
    float: left;
    border: dashed 1px black;
}

#catList {
    width: 250px;
    height: 250px;
    border: dashed 1px black;
}
